body {
    background-color:rgb(244, 241, 237);
}



h1 {
    display: block;
    position: relative;
    font-size: 50px;
    line-height: 4rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(240, 184, 16);
    text-align: center
}

.container {
    display :flex;
    justify-content: center;
}

.ingredient {
    list-style:circle;
    color: rgb(240, 184, 16);
    font-size: 20px
}

img {
    border-radius: 50%;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: rgb(240, 184, 16);
    margin-bottom: 3%;
}

.preparation {
    list-style:square;
    color:rgb(240, 184, 16);
    font-size: 18px;
    }

    form {
        margin:0 auto;
        width: 300px;
    }